body {
    font-family: Garamond;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    font-size: 20px;
}

.menu{
    display: flex;
    margin-right: 35px;
    float: right;
    margin-top: -57px;
}

h1{
    color: rgb(0, 0, 0);
}

a{
    padding: 4px;
    color: rgb(0, 0, 0);
    font-size: 27px;
}

#contact{
    color: rgb(45, 45, 45);
    text-align: center;
    margin: 5%;
}
