body {
    font-family: Garamond;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    margin-right: 35px;
    float: right;
    margin-top: -57px;
    font-size: 22px;
}

h1{
    color: rgba(0, 0, 0, 0.868);
    font-size: 35px;
    text-align: left;
    margin-left: 38px;
    margin-top: 10px;
}

a {
    padding: 4px;
    color: rgb(0, 0, 0);
}

#intro{
    text-align: center;
    font-size: 28px;
    margin-top: 8%;
    float: left;
    margin-left: 5%;
    color: rgb(40, 40, 40);
}

#foto_perfil{
    background-image: url(images/foto_perfil.jpg);
    background-size: cover;
    padding: 220px;
    float: inline-start;
    margin-left: 770px;
    margin-top: -20%;
    border-radius: 100px;    
    background-repeat: no-repeat;
}   
